<script src="../modular/scripts/Chart.js"></script>
<section class="full-width pageContent">
    <div class="row" >
        <h1 style="text-align:Center">Reporte de actividades</h1>
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-10 col-md-10" style="position: relative; height:600px; width:600px;margin-top:30px">
            <canvas id="grafico" width="100" height="100"></canvas>           
        </div>
        <div class="col-lg-1 col-md-1"></div>
    </div>
</section>
<script src="../modular/scripts/reportes.js"></script>